<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <h5 class="card-title">Dados da Inscrição</h5>
        <form action="/add" method="post">
            <div class="mb-3">
                <label for="school" class="form-label">Escola:</label>
                <input type="text" class="form-control" id="school" name="school">
            </div>
            <div class="mb-3">
                <label for="sex" class="form-label">Sexo:</label>
                <input type="text" class="form-control" id="sex" name="sex">
            </div>
            <div class="mb-3">
                <label for="guardian" class="form-label">Guardiao:</label>
                <input type="text" class="form-control" id="guardian" name="guardian">
            </div>
            <div class="mb-3">
                <label for="paid" class="form-label">Pago:</label>
                <input type="text" class="form-control" id="paid" name="paid">
            </div>
            <button type="submit" class="btn btn-success">Adicionar</button>
    </div>
    </form>
</div>
</div>